services:
  jobs:
    build:
      context: .
      dockerfile: jobs/Dockerfile
    container_name: smartinv-jobs
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      PGHOST: postgres
      PGPORT: 5432
      MLFLOW_TRACKING_URI: http://mlflow:5000
    working_dir: /app
